---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Background from '../components/Background.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Problema from '../components/Problema';
import FullBusinessGrowth from '../components/FullBusinessGrowth';
import CasosDeExito from '../components/CasosDeExito';
import Equipo from '../components/Equipo';
import ComoTrabajamos from '../components/ComoTrabajamos';
import FAQ from '../components/FAQ';
import Contacto from '../components/Contacto';
---
<Layout>
  <Background />
  <Header />
  <main>
    <Hero />
    <Problema client:load />
    <FullBusinessGrowth client:load />
    <CasosDeExito client:load />
    <Equipo client:load />
    <ComoTrabajamos client:load />
    <FAQ client:load />
    <Contacto client:load />
  </main>
  <Footer />
</Layout>
