---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Background from '../components/Background.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero';
import Problema from '../components/Problema';
import Solucion from '../components/Solucion';
import QueEs from '../components/QueEs';
import ComoTrabajamos from '../components/ComoTrabajamos';
import SocialProof from '../components/SocialProof';
import FAQ from '../components/FAQ';
import CTAFinal from '../components/CTAFinal';
import Contacto from '../components/Contacto';
---
<Layout>
  <Background />
  <Header />
  <main>
    <Hero client:load />
    <Problema client:load />
    <Solucion client:load />
    <QueEs client:load />
    <ComoTrabajamos client:load />
    <SocialProof client:load />
    <FAQ client:load />
    <CTAFinal client:load />
    <Contacto client:load />
  </main>
  <Footer />
</Layout>
